body {
  margin: 0;
  padding: 2em 3em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #77f;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.categories {
  margin: 0;
  padding: 0;
}

.categories li {
  padding: 4px 10px;
  border-radius: 100px;
  color: #fff;
  background-color: #888; 
  margin: 0;
  display: inline-block;
}