body {
  margin: 0;
  padding: 2em 3em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #77f;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 0 0 2ex;
  border-bottom: 1px solid #eaeaea;
  font-style: italic;
}

footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 2ex;
  font-size: 14px;
  padding: 2ex 0 0;
  border-top: 1px solid #eaeaea;
  margin-top: 6ex;
}

.loading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  flex-direction: column;
}

.categories {
  margin: 0;
  padding: 0;
}

.categories li {
  padding: 4px 10px;
  border-radius: 100px;
  color: #fff;
  background-color: #888;
  margin: 0;
  display: inline-block;
}